@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@100&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

body{
    background-color:#DAC7C7;
}

/* primer punto de la página: Icono de la página, Divs y overflow*/

h1{

    font-size: 40px;
}

p{
    font-size: 30px;
}

.padre{
    text-align: center;
    
}

.contenedor, #icono{
    width: 480px;
    height: 480px;
    display: inline-block;
    border-radius: 6px;
    padding: 20px 30px;
    overflow:scroll;
    text-align:left;
    background-color: #FADD61;
}

#info{
    background-color: #87dfba;
}

/* segundo punto de la página: Cambiar el tipo de fuente en distintas zonas */

.font2 p a{
    font-family: 'Itim', cursive;
}
